<!-- notesView.html -->
<div data-role="view" id="view-all-lists" data-layout="default" class="notes-view" data-model="app.viewModels.addNote">
    <header data-role="header">
        <div data-role="navbar">
           Menu
            <a class="btn-login-fb" data-align="left" data-role="backbutton">Back</a>
            <a class="btn-login-fb" data-align="right" data-role="button" data-bind="click: saveNote">Place the order</a>
        </div>
    <div>
        <h3 id="myHeader0">
            Step 2: When you finish your order, click the button - Place the order.
        </h3>    
        <h3 id="myHeader">
             Click what you want.
        </h3>
        <h3 id="myHeader2">
             
        </h3>        
    </div>        
        
        
        
        
    </header>


    
    <ul id="lists-listview" data-pull-to-refresh="true" data-style="inset" data-role="listview" data-template="listTemplate"
        data-bind="source: lists"></ul>

</div>

<!-- Notes ListView Template -->
<!-- type="text/x-kendo-template" This is important !-->
<script type="text/x-kendo-template" id="listTemplate">

    
    <div >
    <!-- <div data-role="touch" data-bind="events: { tap: listSelected }"> -->
        <div class="no-items-msg">
        	
            <table>
            
            <tr>
            <td>
                <a id="OrderCountID" class="btn-login-fb" data-role="button" data-bind="click: addNumber">Add +</a>
			</td>
            <td>
                <a id="OrderCountID" class="btn-b-top" data-role="button" data-bind="click: deleteNumber">Delete -</a>
			</td>
			</tr>
            
            <tr>
            
            <td><img data-bind="attr:{src: PictureUrl}" width="150" /></td>
            <td><h4>${Title}</h4></td>
            
            </tr>
            </table>
            
		</div>
    </div>
</script>
