
<!-- notesView.html -->
<div id="welcomeYourOrder" data-role="view" data-layout="default" class="notes-view" data-model="app.viewModels.addNote">
    <header data-role="header">
        <div data-role="navbar">
            Your Recent Order
            <a class="nav-button" data-align="left" data-role="backbutton" >Logout</a>
        </div>
    </header>

                     <ol class="group-wrp1">        
    
    <h2 id="yourOrderLocal">You haven't make any order yet.</h2>
  
    </ol>
    
    
    
    
    
</div>

