<div data-role="view" id="view-all-activities" data-layout="default" class="activities-view" data-model="app.viewModels.activities">
    <header data-role="header">
        <div data-role="navbar">
            Comments
            <a class="nav-button" data-align="left" data-role="backbutton" href="views/addNoteView.html">Back</a>
            <a class="nav-button" data-align="right" data-role="button" data-icon="add" href="views/addActivityView.html"></a>
        </div>
    </header>
    <div >
        <h3>Tap on the plus sign and share what's on your mind.</h3>
    </div>
    <ul id="activities-listview" data-pull-to-refresh="true" data-style="inset" data-role="listview" data-template="activityTemplate"
        data-bind="source: activities"></ul>

</div>

<!-- Activities ListView Template -->
<script type="text/x-kendo-template" id="activityTemplate">

        <div >
        	<time class="timeSpan">${CreatedAtFormatted2()}</time>
        </div>
        <div >
        	<time class="timeSpan">${CreatedAtFormatted1()}</time>
        </div>
        <hr>
        
        <div >
            <b class="user-share-txt">${Text}</b>
        </div>        

</script>