<div data-role="view" id="view-all-activities" data-layout="default" class="activities-view" data-model="app.viewModels.activities">
    <header data-role="header">
        <div data-role="navbar">
            Comments
            <a class="nav-button" data-align="left" data-role="backbutton" href="views/addNoteView.html">Back</a>
            <a class="nav-button" data-align="right" data-role="button" data-icon="add" href="views/addActivityView.html"></a>
        </div>
    </header>

    <ul id="activities-listview" data-pull-to-refresh="true" data-style="inset" data-role="listview" data-template="activityTemplate"
        data-bind="source: activities"></ul>
    <p id="no-activities-span" hidden="hidden" class="no-items-msg">
        <b>You have no posts yet.</b><br /><br />Tap on the plus sign and share what's on your mind.
    </p>
</div>

<!-- Activities ListView Template -->
<script type="text/x-kendo-template" id="activityTemplate">

        <div >
        	<time class="timeSpan">${CreatedAtFormatted()}</time>
        </div>
        <div >
            <a class="user-share-txt">${Text}</a>
        </div>        

</script>