<!-- addNoteView.html 
<div data-role="view" id="note" data-layout="default" data-transition="overlay:down" class="note-view"
    data-init="app.viewModels.addNote.init" data-show="app.viewModels.addNote.show" data-model="app.viewModels.addNote">
    <header data-role="header">
        <div data-role="navbar">
            Note
            <a class="nav-button" data-align="left" data-role="backbutton">Cancel</a>
            <a class="nav-button" data-align="right" data-role="button" data-bind="click: saveNote">Save</a>
        </div>
    </header>
    <div id="enterNote" class="note-form-wrp">
        <div class="user-note">
            <label for="newNoteTitle">Title:</label>
            <input type="text" id="newNoteTitle" placeholder="Which One Do You Like Today ?" required />
        </div>
        <div class="user-note">
            <textarea id="newNote" placeholder="Enter Your Comment Here"></textarea>
            <div id="newNoteValidation" class="validation">Note text is required!</div>
        </div>
    </div>
</div>

-->

        <!--WELCOME VIEW -->
        <div data-role="view" id="note" data-layout="default" class="welcome-scrn form-view" data-init="app.viewModels.addNote.init" data-model="app.viewModels.addNote">
            
        <header data-role="header">

        </header>
            
                        <div data-role="navbar" class="navbar navbar-fixed-bottom">
                Welcome
                <a class="btn-login-fb" data-align="left" data-role="backbutton">Back</a>
            </div>
            
            
            
                <div>
                    <h2 id ="yourOrderLocal1"  STYLE="color: #000">
                        You haven't make any order yet.
                        
                    </h2>
                    <h2 id ="yourOrderLocal2" STYLE="color: #000">
                        
                        
                    </h2>
                    <h2 id ="yourOrderLocal3" STYLE="color: #000">
                        
                        
                    </h2>      
            <h2 STYLE="color: #000">Step 1: Please select the pickup location.</h2>
            </div>
            
            
            <ol class="group-wrp1">             
                <li class="b-top">
                    
             
                    <p>
                    <a data-role="button is-primary" data-bind="click: potter" class="button is-primary" STYLE="font-size : 14pt; color: #fff">Physics Building</a> 
                    </p>
                    <p>
                    <a data-role="button is-primary" data-bind="click: hawkins" class="button is-primary" STYLE="font-size : 14pt; color: #fff">Hawkins</a> 
                        </p>
       
                    
                </li>            
            </ol>
            
            <div>
                <h2 STYLE="color: #000">Piciup time: Physics 12:15pm, Hawkins 12:00 pm</h2>
                
                
            </div>
            
            <div>
                <h2 STYLE="color: #000">What's on your mind? Tell us.</h2>
                
                
            </div>            
            <ol class="group-wrp1">             
                <li class="b-top">            
                    <p>
                    <a data-role="button is-danger" data-bind="click: movetoFeedback" class="button is-danger" STYLE="font-size : 14pt; color: #fff">Getting in Touch</a> 
                    </p>
                </li>            
            </ol>
            
        </div>