<!--WELCOME VIEW -->
<div data-role="view" id="note" data-layout="default" class="welcome-scrn form-view" data-init="app.viewModels.addNote.init" data-model="app.viewModels.addNote">
    
<header data-role="header">
     <div data-role="navbar" class="navbar navbar-fixed-bottom">
        Welcome
        <a class="btn-login-fb" data-align="left" data-role="backbutton">Back</a>
    </div>
</header> 

        <div>
            <h2 id ="yourOrderLocal1"  STYLE="color: #000">You haven't make any order yet.</h2>
            <h2 id ="yourOrderLocal2" STYLE="color: #000"></h2>
            <h2 id ="yourOrderLocal3" STYLE="color: #000"></h2>      
    <h2 STYLE="color: #000">Step 1: Please select the pickup location.</h2>
    </div>
    
    
    <ol class="group-wrp1">             
        <li class="b-top">
 
            <p>
            <a data-bind="click: potter" class="buttonFixedWidth is-primary" STYLE="color: #fff">Physics Building</a> 
            <a data-bind="click: hawkins" class="buttonFixedWidth is-secondary" STYLE="color: #fff">Hawkins</a> 
                </p>
   
        </li>            
    </ol>
    
    <div>
        <h2 STYLE="color: #000">Piciup time: Physics 12:15pm, Hawkins 12:00 pm</h2> 
    </div>
          
    <ol class="group-wrp1">             
        <li class="b-top">            
            <p>
            <a data-bind="click: movetoOrder" class="buttonFixedWidth is-warning" STYLE="color: #fff">Order History</a> 
            <a data-bind="click: movetoFeedback" class="buttonFixedWidth is-danger" STYLE="color: #fff">Getting in Touch</a> 
            </p>
        </li>            
    </ol>
    
</div>

<script>
    

</script>


