<!--Second Page. Before menu.html -->
<!--WELCOME VIEW -->
<!-- data-init is a necessary. -->
<!-- data-model="app.viewModels.addNote" addNote is used twice -->
<div data-role="view" id="note" data-layout="default" class="welcome-scrn form-view"
     data-init="app.viewModels.addNote.init" data-model="app.viewModels.addNote">
    
<header data-role="header">
     <div data-role="navbar" class="navbar navbar-fixed-bottom">
        Welcome
     <a class="button is-default" data-align="left" data-role="touch" 
			href="#welcome" style="text-decoration: none">Back</a>    </div>
     <!-- <a class="button is-default" data-align="left" 
		data-role="button" data-click="app.viewModels.activities.logout">Log out</a>    -->
</header> 

        <div>
            <h2 id ="yourOrderLocal1"  STYLE="color: #000"></h2>     
    		<h2 STYLE="color: #000">Step 1: Please select the pickup location.</h2>
    	</div>
    
    
    <ol class="group-wrp">             
        <li>
            <span>        
            <a data-bind="click: hawkinsDinner" class="buttonFixedWidth is-success" STYLE="color: #fff">Hawkins</a> 
            </span>
        </li>            
    </ol>
    
    <div>
        <h2 STYLE="color: #000">Pickup time: Hawkins 6:00 pm</h2> 
    </div>
          

    
</div>

<script>
    

</script>


