<!DOCTYPE html>
<div class="notes-view" data-role="view">
     <header data-role="header">
       <!-- for ios navbar is here. -->     
         <div data-role="navbar" class="navbar navbar-fixed-bottom">
           Ichiban Order History
             <a data-role="button" href="views/ichibanAddress.html" class="nav-button" data-align="left">Back</a>
        </div> 
         
     </header>

     <ul id="remoteListView" data-style="inset" data-source="dataSource" 
         data-role="listview" data-template="yourOrderTemplate" data-pull-to-refresh="true" ></ul>
</div>

<script id="yourOrderTemplate" type="text/x-kendo-template">
<!--iOS -->

    <p >  #: Date # #: Hours # </>
    <p>    #: Text #  </p> 
    <p>    Order Number:  #: Num # </p>
    <p>    Address: #: Pickup # </p>
    <hr>
 

<!--Android -->
<!--
        <div class="no-items-msg">                
                <h5>${Date}  ${Hours}</h5>                                
                <h5>${Text}Order Number: ${Num}</h5>      
				<h5>${Pickup}</h5>                                 
        </div>
-->

</script>

<script>
        var orderListModel = {
            id: 'Id',
            fields: {
                Text: {
                    field: 'Text',
                    defaultValue: ''
                },
                CreatedAt: {
                    field: 'CreatedAt',
                    defaultValue: new Date()
                },
                UserId: {
                    field: 'UserId',
                    defaultValue: ''
                },
                Num: {
                    field: 'Num',
                    defaultValue: []
                },
                Pickup: {
                    field: 'Pickup',
                    defaultValue: ''
                },
                Phone: {
                    field: 'Phone',
                    defaultValue: ''
                },                
            },
        
            User: function () {
                var userId = this.get('UserId');
                var user = $.grep(usersModel.users(), function (e) {
                    return e.Id === userId;
                })[0];
                return {
                    Username: user ? user.Username : 'No Good Name',
                };
            }
        };
    
var dataSource = new kendo.data.DataSource({
  autoSync: false,
  type: 'everlive',
  transport: {
    read: {
      url: "https://api.everlive.com/v1/B3HXTR1cpka5ETff/IchibanActivities"
    }
  },
  schema: {
    model: orderListModel,
  },
    
  filter: { 
      field: 'currentUser', 
      operator: 'eq', 
      value: window.device.uuid,
  },
  sort: {
    field: "CreatedAt",
    dir: "desc"
  },
  serverFiltering:true,
  serverPaging: true,
  serverSorting: true,
  pageSize: 10,
});
    

    // Here we couln't name app.
    //var app1 = new kendo.mobile.Application(document.body, { transition: 'overlay', layout: 'mobile-tabstrip' });  
 
</script>    



