<!-- notesView.html copy from menu.html -->
<div data-role="view" id="view-all-lists" data-layout="default" class="notes-view" 
     data-model="app.viewModels.IchibanMenu">
    <header data-role="header">
       <!-- for ios navbar is here. -->     
         <div data-role="navbar" class="navbar navbar-fixed-bottom">
           Menu
             <a class="button is-default" data-align="left" data-role="touch" data-bind="events: { tap: moveBack }" style="text-decoration: none">Back</a>
             <a class="button is-default" data-align="right" data-role="touch" data-bind="events: { tap: saveNote }">Order</a>
        </div>   
            
        <div>   
            <h3 id="IchibanCart1" STYLE="color: #000">
                 Click what you want.
            </h3>        
        </div> 
        
    </header>
    
  	<!-- Find a bug here. pull to refresh would be dead. I add  "data-fixed-headers="true"". Not sure whether it works or not.-->
    <ul id="lists-listview" data-pull-to-refresh="false" data-fixed-headers="true" data-style="inset" 
        data-role="listview" data-template="listTemplate" data-bind="source: Ichibanlists"></ul>

</div>

<!-- Notes ListView Template -->
<!-- type="text/x-kendo-template" This is important !-->
<script type="text/x-kendo-template" id="listTemplate">

        <div class="no-items-msg">
            <table>
                <tr>
                    <!--  has-icon has-text <i class="icon-check"></i> 
                    <i class="icon-cross"></i> !-->
                <td>
                    <span data-role="touch" data-bind="events: { tap: addNumber }">
                        <a class="button is-danger">Add</a>
                    </span>
                </td>
                <td>
                    <span data-role="touch" data-bind="events: { tap: deleteNumber }">
                        <a class="button is-warning">Delete</a>
                    </span>
                </td>
                
                </tr>
                
                <tr>     
                <td><img data-bind="attr:{src: PictureUrl}" width="120" height="90" /></td>     
                <td><h5>${Title}${TitleEnglish} Price: ${Price}</h5></td>
                
                </tr>
            </table>
        </div>

</script>
