<!--WELCOME VIEW -->
<div data-role="view" data-layout="default" class="welcome-scrn form-view" data-model="app.viewModels.IchibanAddress">
    
<header data-role="header">
     <div data-role="navbar" class="navbar navbar-fixed-bottom">
        Ichiban-Address
        <a data-role="touch" class="button is-default" data-align="left" href="index.html" style="text-decoration: none">Back</a>
    </div>
</header> 
    
<div>
        <h3 id="yourAddress" STYLE="color: #000">
            
        </h3>   
        <h3 id="yourPhone" STYLE="color: #000">
            
        </h3>       
    
</div>
    
<ol class="group-wrp">    
    <li>    
        <span data-role="touch" data-bind="events: { tap: getAddress }">
            <a class="buttonFixedWidth is-primary"  STYLE="color: #fff">Get your latest address.</a>
        </span>
    </li>    
</ol>
    
    <form>
        <ul id="address-form" data-role="listview" data-style="inset">
            <li class="txtarea-wrp">
                <label for="submitIchibanAddress">Address</label> 
                <textarea id="submitIchibanAddress" data-bind="value: IchibanAddress"></textarea>
            </li>            
            <li>
                <label for="submitIchibanPhone">Phone</label>
                <input type="text" id="submitIchibanPhone" data-bind="value: IchibanPhone"/>
            </li>

        </ul>
    </form>

    <ol class="group-wrp">
        <li>    
            <span data-role="touch" data-bind="events: { tap: submit }">
                <a class="buttonFixedWidth is-primary"  STYLE="color: #fff">Submit your address</a>
            </span>
        </li>
    </ol>
    

    

          

    
</div>




