<!-- notesView.html -->
<div data-role="view" id="view-all-lists" data-layout="default" class="notes-view" data-model="app.viewModels.addNote">
    <header data-role="header">

   <!-- for ios navbar is here. -->     
     <div data-role="navbar" class="navbar navbar-fixed-bottom">
       Menu
        <a class="btn-login-fb" data-align="left" data-role="backbutton">Back</a>
        <a class="btn-login-fb" data-align="right" data-role="button" data-bind="click: saveNote">Place order</a>
    </div>   
        
    <div>
        <h3 id="myHeader0" STYLE="color: #000">
            Step 2: When you finish your order, click the button - Place order.
        </h3>    
        <h3 id="myHeader2" STYLE="color: #000">
             Click what you want.
        </h3>
        <h3 id="myHeader" STYLE="color: #000">
             
        </h3>        
    </div> 
        
    </header>
 

  <!-- for android navbar is here. -->  
    
    <ul id="lists-listview" data-pull-to-refresh="true" data-style="inset" data-role="listview" data-template="listTemplate"
        data-bind="source: lists"></ul>

</div>

<!-- Notes ListView Template -->
<!-- type="text/x-kendo-template" This is important !-->
<script type="text/x-kendo-template" id="listTemplate">

        <div class="no-items-msg">
            <table>
                <tr>
                <td>
                    <a id="OrderCountID" class="button is-primary has-icon has-text" data-bind="click: addNumber"><i class="icon-check"></i>Add</a>
                </td>
                <td>
                    <a id="OrderCountID" class="button is-primary has-icon has-text" data-bind="click: deleteNumber"><i class="icon-cross"></i>Delete</a>
                </td>
                </tr>
                
                <tr>     
                <td><img data-bind="attr:{src: PictureUrl}" width="150" /></td>     
                <td><h5>${Title}${TitleEnglish}</h5></td>
                
                </tr>
            </table>
        </div>

</script>
