<!-- signupView.html -->
<div data-role="view" id="signup" data-layout="default" class="form-view" data-model="app.viewModels.signup" data-show="app.viewModels.signup.show">
    <header data-role="header">
        <div data-role="navbar">
            Sign up
            <a class="button is-secondary" data-align="left" data-role="backbutton" href="#welcome">Back</a>
        </div>
    </header>
    <form>
        <ul id="signup-form" data-role="listview" data-style="inset">
            <li>
                <label for="signupUsername">Username</label>
                <input type="text" id="signupUsername" data-bind="value: Username"/>
            </li>
            <li>
                <label for="signupPassword">Password</label>
                <input type="password" id="signupPassword" data-bind="value: Password"/>
            </li>
        </ul>
    </form>
    <div class="sngl-btn-wrp">
        <a class="btn-signup btn-big" data-role="button" data-bind="click: signup">Register</a>
    </div>
</div>