<!-- notesView.html -->
<div data-role="view" id="view-all-lists" data-layout="default" class="notes-view" data-model="app.viewModels.orderLists">
    <header data-role="header">

   <!-- for ios navbar is here. -->     
     <div data-role="navbar" class="navbar navbar-fixed-bottom">
       Order List
        <a class="btn-login-fb" data-align="left" data-role="backbutton">Back</a>
        
    </div>   
     
    </header>
 
    <!-- change "lists" -->
    <ul id="lists-listview" data-pull-to-refresh="true" data-style="inset" data-role="listview" data-template="activityTemplate"
        data-bind="source: orderLists"></ul>

</div>

<!-- Notes ListView Template -->
<!-- type="text/x-kendo-template" This is important !-->
<script type="text/x-kendo-template" id="activityTemplate">


        <div class="no-items-msg">
        	
            <table>
            

            <time class="timeSpan">${CreatedAtFormatted2()}</time>
            <tr>
            
            <td><h5>${Num}</h5></td>
            <td><h5>${Text}</h5></td>
            <td><h5>${Pickup}</h5></td>
            
            </tr>
            </table>          

		</div>

</script>
